{% with tweet_width="two" hate_width="two" group_width="two" %}
<style>
.group-column {
  margin-left: 2%;
}

.tweet {
  width: 33%;
}

.hate {
  width: 17%;

  margin-left:2%;
}

.group-column {
  width: 13%;
  margin-left: 1%;
  margin-top:18px;
}

span.button {
  padding: 0px;
}

.caption {
  font-size: 0.8em;
}

form {
  margin-bottom:0px;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

</style>
<div class="">
  <div class="row">
    <div class="{{tweet_width}} columns">
      <b>Comentario</b>
    </div>
    <div class="{{hate_width}} columns">
      <b>¿Odio?</b>
    </div>

    <div class="two columns group-column">
      <b>¿Llama a la acción?</b>
    </div>
    <div class="six columns">
      <b>Grupo al que ataca</b>
    </div>
  </div>

  <div class="comment-labels">
  {% for comment in article.comment_set.all %}
    <form>
      <div class="row">
        <p class="error-messages">
        </p>
      </div>
      <hr>
      <div class="row">

        <!--      -->
        <!--      -->
        <!--Texto -->
        <!--      -->
        <!--      -->
        <!--      -->

        <div class="tweet columns">
          <p>{{comment.text}}</p>
        </div>
        <input type="hidden" name="comment" value="{{comment.id}}"/>

        <!--      -->
        <!--      -->
        <!-- Odio -->
        <!--      -->
        <!--      -->
        <!--      -->

        <div class="hate columns">
          <div class="row caption">
            ¿Odio?
          </div>
          <div class="row hateful">

            <div class="switch-field">
              <input required type="radio" id="hateful-one-{{forloop.counter}}" name="is_hateful" value="0"/>
              <label class="not-hateful" for="hateful-one-{{forloop.counter}}"> No  </label>
              <input type="radio" id="hateful-two-{{forloop.counter}}" name="is_hateful" value="1" />
              <label class="hateful" for="hateful-two-{{forloop.counter}}"> Sí</label>
            </div>
          </div>

          <!-- Llama a la acción  -->
          <div class="row caption">
            ¿Llama a acción?
          </div>
          <div class="row calls-for-action">

            <div class="switch-field">
              <input type="radio" id="action-one-{{forloop.counter}}" name="calls_for_action" value="0"/>
              <label class="not-hateful" for="action-one-{{forloop.counter}}"> No  </label>
              <input type="radio" id="action-two-{{forloop.counter}}" name="calls_for_action" value="1" />
              <label class="hateful" for="action-two-{{forloop.counter}}"> Sí</label>
            </div>
          </div>
        </div>
        <!--      -->
        <!--      -->
        <!-- Tipo -->
        <!--      -->
        <!--      -->
        <!--      -->

        <div class="groups">
          <div class="group-column columns">
            {% with my_var=hate_speech_types|slice:"0:3" %}
            {% for type in my_var %}
              <label class="group-button">
                <input style="display:none" type="checkbox" name="{{type.0}}"  value="{{type.0}}">
                <span class="button label-body u-full-width" for="{{type.0}}"> {{type.0|slice:8}} </span>
              </label>
            {% endfor %}
            {% endwith %}
          </div>
          <div class="group-column columns">
            {% with my_var=hate_speech_types|slice:"3:6" %}
            {% for type in my_var %}
              <label class="group-button">
                <input style="display:none" type="checkbox" name="{{type.0}}"  value="{{type.0}}">
                <span class="button label-body u-full-width" for="{{type.0}}"> {{type.0|slice:8}} </span>
              </label>
            {% endfor %}
            {% endwith %}
          </div>
          <div class="group-column columns">
            {% with my_var=hate_speech_types|slice:"6:9" %}
            {% for type in my_var %}
              <label class="group-button">
                <input style="display:none" type="checkbox" name="{{type.0}}"  value="{{type.0}}">
                <span class="button label-body u-full-width" for="{{type.0}}"> {{type.0|slice:8}} </span>
              </label>
            {% endfor %}
            {% endwith %}
          </div>

        </div>
      </div>
    </form>

  {% endfor %}
  </div>
  <hr/>
</div>

<div class="row">
    <a href="#" id="submit" class=" button button-primary u-full-width submit-button">
      Enviar etiquetado
    </a>
</div>

<hr/>


<div class="row">
    <a href="#" id="not_interesting" class="button u-full-width submit-button" style="background-color:red; color:white">
      No es interesante
    </a>
</div>


<script type="text/javascript">
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
  var endpoint = "{% url 'api:article-label' article.id %}";
  var next_url = "{% url 'next' %}";
  axios.defaults.xsrfCookieName = 'csrftoken';

  function onHatefulRadioChange(radio) {
    var row = radio.parentElement.parentElement.parentElement.parentElement;
    var callsForActionDiv = row.querySelector('div.calls-for-action');
    var groupsDiv = row.querySelector('div.groups');

    if (radio.value == "0") {
      // hateful => disable everything else
      callsForActionDiv.querySelectorAll('input').forEach(input => {
        input.checked = false;
        input.disabled = true;
      });
      groupsDiv.querySelectorAll('input').forEach(input => {
        input.checked = false;
        input.disabled = true;
      });
    } else {
      // hateful => enable everything else
      callsForActionDiv.querySelectorAll('input').forEach(input => {
        input.disabled = false;
      });
      groupsDiv.querySelectorAll('input').forEach(input => {
        input.disabled = false;
      });
    }
  }

  document.querySelectorAll('input[name="is_hateful"]').forEach(
    (radio) => radio.addEventListener('change', () => onHatefulRadioChange(radio))
  );

  document.getElementById("not_interesting").addEventListener("click", (event) => {
    event.preventDefault();

    axios.post(
      endpoint,
      { is_interesting: false }
    )
    .then( () => {
      alert("Artículo marcado como no interesante");
      location.href = next_url;
    })
    .catch( (errors) => {
      alert("Hubo un error con esto: "+ errors);
    });

  });

  var hateSpeechTypes = [
    {% for type in hate_speech_types %}
    "{{type.0}}",
    {% endfor %}
  ];

  function validateForm(form, formdata) {
    /// Checks if form is OK
    ///
    var formdata = new FormData(form);
    var isValid = true;
    var isHateful = formdata.get("is_hateful");
    form.style.background = "";
    form.querySelector('.error-messages').textContent = "";
    var messages = [];

    // Ok, this could be done with boolean operators, but I think it is more
    // understandable this way
    if (isHateful == null) {
      isValid = false;
      messages.push("Debe marcar si es odioso");
    } else if (isHateful == "1") {
      // Hateful
      var callsForAction = formdata.get("calls_for_action");
      var count = 0;
      for (type of hateSpeechTypes) {
        if (formdata.get(type)) {
          count += 1;
        }
      }

      if (callsForAction == null) {
        messages.push("Debe marcar si llama a la acción");
      }
      if (count == 0) {
        messages.push("Debe marcar al menos un grupo");
      }

      isValid = (callsForAction != null) && (count > 0);
    }

    if (!isValid) {
      form.style.background = "#ffcccb";
      form.querySelector('.error-messages').textContent = messages.join(' - ');
    }

    return isValid;
  }

  function submit(forms) {
    var data = {
      is_interesting: true,
      comment_labels: [],
    };

    forms.forEach((form) => {
      var formdata = new FormData(form);

      var comment_label = {
        comment: parseInt(formdata.get("comment")),
        types: [],
        calls_for_action: false
      };
      var isHateful = formdata.get("is_hateful");
      comment_label.is_hateful = Boolean(parseInt(isHateful));

      /// Sólo pongo el type si es odioso
      if (comment_label.is_hateful) {
        for (type of hateSpeechTypes) {
          if (formdata.get(type)) {
            comment_label.types.push(type);
          }
        }
        var callsForAction = formdata.get("calls_for_action");
        comment_label.calls_for_action = Boolean(parseInt(callsForAction));
      }

      data.comment_labels.push(comment_label);
    });

    axios.post(
      endpoint,
      data,
    )
    .then( () => {
      //alert("Artículo correctamente etiquetado");
      location.href = next_url;
    })
    .catch( (errors) => {
      alert("Hubo un error con esto: "+ errors);
    });
  }

  document.getElementById("submit").addEventListener("click", (event) => {
    event.preventDefault();

    var forms = document.querySelectorAll('div.comment-labels > form');
    var areValid = Array.from(forms).map( form => validateForm(form));

    /// Check every subform is valid
    var allFormsValid = areValid.every(e => e);

    if (allFormsValid) {
      submit(forms);
    } else {
      alert("Hay errores en el etiquetado de algunos comentarios -- Revisar por favor");
    }
  });


</script>
{% endwith %}
