{% extends 'base.html' %}
{% load static %}
{% block  head %}

<link rel="stylesheet" href="{% static 'articles/articles.css' %}">

{% endblock %}

{% block title %}
{{article.title}}
{% endblock %}

{% block content %}


<h4> @{{article.user}} - {{article.title}}  </h4>



<p> {{article.created_at}} -- TwId: {{article.tweet_id}} </p>

<blockquote class="twitter-tweet"><p lang="es" dir="ltr"> {{article.text}} <a href="https://twitter.com/user/status/{{article.tweet_id}}?ref_src=twsrc%5Etfw">August 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<h3> Noticia </h3>

<div class="wrap-collapsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle" tabindex="0">Mirar artículo</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {{article.body | linebreaks }} </p>
    </div>
  </div>

</div>


<h2> Comentarios </h2>

<ul>
{% for comment in article.comment_set.all %}
  {% if comment.hateful_value > 0.5 %}
      <li>
        <strong>
        {{ forloop.counter0 }} ({{comment.hateful_value|floatformat:-2}}) -- {{comment.text}}
        </strong>
      </li>
  {% else %}
  <li>
    {{ forloop.counter0 }} ({{comment.hateful_value|floatformat:-2}}) -- {{comment.text}}
  </li>
  {% endif %}
{% endfor %}
</ul>

<script type="text/javascript">
  let myLabels = document.querySelectorAll('.lbl-toggle');

  Array.from(myLabels).forEach(label => {
    label.addEventListener('keydown', e => {
      // 32 === spacebar
      // 13 === enter
      if (e.which === 32 || e.which === 13) {
        e.preventDefault();
        label.click();
      };
    });
  });
</script>

{% block actions %}

{% endblock %}

{%endblock %}
