{% extends 'base.html' %}
{% load static %}
{% block  head %}

<link rel="stylesheet" href="{% static 'articles/articles.css' %}">
<link rel="stylesheet" href="{% static 'articles/switches.css' %}">
{% endblock %}

{% block title %}
{{article.title}}
{% endblock %}

{% block content %}


<h4> @{{article.user}} - {{article.title}}  </h4>



<p> {{article.created_at}} -- TwId: {{article.tweet_id}} </p>

<div class="row centering">
  <blockquote class="twitter-tweet"><p lang="es" dir="ltr"> {{article.text}} <a href="https://twitter.com/user/status/{{article.tweet_id}}?ref_src=twsrc%5Etfw">August 3, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

<h3> Noticia </h3>

<div class="wrap-collapsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle" tabindex="0">Mirar artículo</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {{article.body | linebreaks }} </p>
    </div>
  </div>

</div>

<script type="text/javascript">
  let myLabels = document.querySelectorAll('.lbl-toggle');

  Array.from(myLabels).forEach(label => {
    label.addEventListener('keydown', e => {
      // 32 === spacebar
      // 13 === enter
      if (e.which === 32 || e.which === 13) {
        e.preventDefault();
        label.click();
      };
    });
  });

</script>




<div class="row">
  <div class="eight columns">
    <h3>Comentarios</h3>
  </div>
  <!-- <div class="four columns">
    <b>Grupo para todos</b>
  </div> -->

</div>

<!-- <div class="row">
  <div class="offset-by-eight four columns">
    <select id="select_type">
      {% for type in hate_speech_types %}
        <option value="{{type.0}}"> {{type.0}} </option>
      {% endfor %}
    </select>
  </div>
</div> -->


{% include 'articles/labelling_form.html' %}




{%endblock %}
