[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipdb = "*"
factory-boy = "*"
pylint-django = "*"
jupyterlab = "*"
pandas = "*"

[packages]
djangorestframework = "*"
fire = "*"
tqdm = "*"
nltk = "*"

[requires]
python_version = "3.8"
