{% extends 'base.html' %}
{% load static %}
{% block  head %}

<link rel="stylesheet" href="{% static 'articles/articles.css' %}">
<link rel="stylesheet" href="{% static 'articles/switches.css' %}">
{% endblock %}

{% block title %}
{{user.username}}
{% endblock %}

{% block content %}


<h2>Anotador: {{user.username }}</h2>

<p> <b>{{user.assignment_set.count}} artículos asignados</b> </p>
<p> Ya completó <b>{{user.article_labels.count}} artículos </b><p>

<div class="row">

    <h3>Artículos completados</h3>

    <ol>
        <table>
            <thead>
                <tr>
                    <th>
                        Artículo
                    </th>
                    <th>
                        Fecha de etiqueta
                    </th>

                    <th>
                        Batch
                    </th>

                </tr>

            </thead>
            <tbody>

                {% for article_label in article_labels %}
                    <tr>
                        <td>
                            <a href="{% url 'label_view' user.username article_label.article.id %}">
                                {{article_label.article.title|truncatechars:50}}
                            </a>
                        </td>

                        <td>
                            {{article_label.created_at}}
                        </td>

                        <td>
                            {{article_label.article.batch.name}}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

    </ol>

</div>

{%endblock %}
