<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>
    {%block title %}
    Hatespeech Labelling
    {%endblock %}
  </title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ––––––––––––––––––––––––––––––––––––––––––––––––––
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'skeleton/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'skeleton/skeleton.css' %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'skeleton/favicon.png' %}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% block head %}
  {% endblock %}
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <a href="/" style="color:black; text-decoration: none">
      <h1 >Hatespeech Labelling</h1> </a>

    <div class="row">

      <div class="twelve columns">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
