<div class="row">

    <h3>Resumen</h3>

    <p>Por cada comentario en una nota periodística, anotaremos lo siguiente:</p>
    <ol>
        <li>En el tweet ¿hay discurso discriminatorio?</li>
        <li>Si hay discurso discriminatorio ¿este contenido llama a la acción –violenta o no violenta– contra el individuo o grupo ofendido?</li>
        <li>Si hay discurso discriminatorio ¿cuáles son los grupos protegidos que son atacados? (se podrá elegir un subconjunto de la lista de motivos discriminatorios del INADI)</li>
    </ol>

    <p> Las grupos/categorías protegidas que tendremos en cuenta son las siguientes: <p>

    <ol>
        <li>Por su sexo (Mujeres)</li>
        <li>Por su género o identidad sexual (Colectivo LGBTTI)</li>
        <li>Por ser inmigrantes, extranjeros, pueblos aborígenes u otras nacionalidades (Xenofobia, racismo)</li>
        <li>Por situación socioeconómica o barrio de residencia.</li>
        <li>Por tener discapacidades, problemas de salud mental o de adicciones</li>
        <li>Por su opinión o ideología política</li>
        <li>Por su aspecto o edad</li>
        <li>Por sus antecedentes penales o situación procesal</li>
    </ol>

    <h3> Instrucciones técnicas</h3>

    <ol>
        <li> Usar una PC/Notebook con navegador Chrome/Firefox para etiquetar</li>
        <li> Al entrar a la página, nos dice cuántos artículos tenemos disponibles. Si cliqueamos en SEGUIR ETIQUETANDO nos envía al próximo artículo a etiquetar</li>
        <li> Las instrucciones están en la página principal. Recomendamos abrir una pestaña extra para tenerlas a mano</li>

        <li> Dado un artículo, deberemos etiquetar cada uno de sus comentarios
        <ul>
            <li> En primer lugar, marcaremos si un comentario es discriminatorio </li>
            <li> Si no es discriminatorio, sólo marcaremos eso y seguiremos adelante </li>
            <li> En caso de ser discriminatorio, deberemos marcar si contiene un llamado a la acción</li>
            <li> Finalmente, marcaremos cada categoría protegida ofendida</li>
        </ul>

        </li>
        <li> Al finalizar de marcar todos los comentarios, deberemos clickear en el botón azul "ENVIAR ETIQUETADO" </li>
        <li> Nada se salva antes de apretar ese botón. Se pueden cambiar las anotaciones hasta antes de hacer eso </li>
        <li> Luego de eso, se mostrará un nuevo artículo para etiquetar </li>
        <li> Si hay comentarios no anotados, la aplicación les marcará los errores para cada comentario </li>
        <li> Nunca volver para atrás con el navegador para intentar volver a etiquetar un artículo ya completado </li>
        <li> Si dejamos el cursor encima de una de las categorías, nos debería aparecer una descripción un poco más extensa de cada una
            (por ej, si dejo encima de <strong>RACISMO</strong> aparece "Racismo, Xenofobia, Religión, lengua, país de origen")</li>
        <li> En caso de error, hacer screenshot, guardar dirección (URL) del error y notificar a Juan Manuel </li>
    </ol>

</div>

<div class="row">
    <h3>¿Cuándo hay discurso discriminatorio?</h3>

    <p>Entendemos que hay discurso discriminatorio en el tweet si contiene declaraciones de carácter intenso y posiblemente irracional de rechazo, enemistad y aborrecimiento contra un individuo o contra un grupo, siendo estos objetivos de estas expresiones por poseer (o aparentar poseer) una característica protegida.</p>

    <p>Este discurso puede manifestarse de manera explícita (insultos directos) o bien más implícita. Lo que queremos captar es la intención del autor del tweet. Con este objetivo, tomamos en cuenta el contexto (en este caso, el tweet original del medio periodístico y posiblemente la nota) y el contenido del tweet en sí mismo.</p>
    <p>Las características protegidas que vamos a tener en cuenta son las siguientes:</p>

    <ol>
        <li>Sexo (Mujeres, concretamente)</li>
        <li>Género o identidad sexual (Colectivo LGBTI)</li>
        <li>Ser inmigrantes, extranjeros, pueblos aborígenes u otras nacionalidades (xenofobia, racismo)</li>
        <li>Situación socioeconómica o barrio de residencia</li>
        <li>Poseer discapacidades, problemas salud mental o de adicción al alcohol, drogas u otros estupefacientes</li>
        <li>Opinión o ideología política</li>
        <li>Aspecto o edad (mayormente, gordofobia/gerontofobia)</li>
        <li>Antecedentes penales o estar privado de la libertad</li>
    </ol>

    <p>Consideramos que el mensaje del tweet (a la vez que el receptor del mensaje) es el que determina si puede o no ser considerado discriminatorio y hacia qué grupo está dirigido. Esto puede no necesariamente coincidir con el destinatario explícito del mensaje: por ejemplo, si alguien le dice a Susana Giménez “judía sionista hdp”, a pesar de no ser Susana Giménez judía, se puede considerar esto como discurso de odio contra las minorías religiosas y/o discurso xenófobo.</p>

    <h3>¿Cuándo hay un llamado a la acción?</h3>

    <p>Entendemos que un tweet (que contiene discurso discriminatorio) llama a la acción si contiene alguna incitación a tomar algún tipo de medida contra el sujeto o grupo ofendido. Esta medida puede ser de carácter violento (“hay que matarlos ya” “pongámosles una bomba”) o de carácter menos violento (“hay que dejar de comprarles a estos chinos ladrones”)</p>
    <p>Estos tweets nos interesan particularmente porque son los más peligrosos y dañinos: los que llaman a tomar algún tipo de represalia contra la persona o el grupo en cuestión.</p>

    <h3>Grupos/Características protegidas</h3>
    <p>Para cada tweet con contenido discriminatorio deberemos marcar qué grupo o característica protegida es atacado. Usaremos una notación abreviada en la interfaz de etiquetado, en la que algunos de los grupos o características mencionadas fueron reagrupadas de la siguiente manera:</p>
    <ul>
        <li><strong>MUJER</strong>: por su sexo</li>
        <li><strong>LGBTI</strong>: por género o identidad sexual</li>
        <li><strong>RACISMO</strong>: Por ser inmigrantes, extranjeros, por su religión, por pertenecer a pueblos aborígenes u otras nacionalidades</li>
        <li><strong>POBREZA</strong>: Por situación socioeconómica o barrio de residencia.</li>
        <li><strong>DISCAPAC</strong>: Por tener discapacidades, problemas salud mental o de adicciones</li>
        <li><strong>POLITICA</strong>: Por su opinión o ideología política</li>
        <li><strong>ASPECTO</strong>: Por su aspecto o edad</li>
        <li><strong>CRIMINAL</strong>: Por sus antecedentes o situación penal (presos)</li>
    </ul>
    <p> Recordar que si no estamos seguros, podemos dejamos el cursor encima de una de las categorías y eso nos debería aparecer una descripción un poco más extensa de cada una
        (por ej, si dejo encima de <strong>RACISMO</strong> aparece "Racismo, Xenofobia, Religión, país de origen")</p>
    <p>A su vez, agregamos la categoría “OTROS”. Esta categoría es excepcional, y debería utilizarse sólo si algún tipo de discriminación no está contemplado en estas categorías.</p>
    <p>Vamos a ignorar dentro de las categorías protegidas a las profesiones. Es decir, no tenemos en cuenta el discurso contra científicos, médicos, o periodistas; de esto último hay bastante material agresivo en los comentarios.
        No marcar como <strong>OTRO</strong></p>
    <p></p>
</div>

<h2>Lineamientos generales</h2>
<p>El discurso discriminatorio no es sólo discurso ofensivo contra una persona o grupo con alguna de las características protegidas. Tiene que apelar a su condición de mujer, inmigrante, LGBTI, etc. para que lo consideremos así.</p>
<p>Por ejemplo: si alguien agrede a una mujer, a un inmigrante, o a alguien de la comunidad LGBTI, no necesariamente está incurriendo en un discurso discriminatorio salvo que apele a algo que remita a su característica como tal.</p>
<p>Expresiones de aprobación ante noticias de crímenes o acciones contra persona o grupo de las características protegidas son consideradas discriminatorias.</p>
<p>Por ejemplo, ante noticias como:</p>
<ul>
<li>Violan a la reconocida actriz XXXX YYYY</li>
<li>Asesinan a un comerciante chino por creer que tenía Coronavirus</li>
<li>Motín y muerte en la prisión de Marcos Paz</li>
</ul>
<p>Los siguientes comentarios son de contenido discriminatorio:
    <ul>
        <li>👏</li>
        <li>uno menos!</li>
        <li>bravo! hay que matarlos a todos</li>
    </ul>
</p>
<p>Si no queda claro que haya un mensaje discriminatorio o parece de carácter difuso o demasiado tangencial, entonces etiquetar como no discriminatorio</p>

<hr />

<h2> Lineamientos y ejemplos por categoría </h2>

<p> Presionar el signo <strong style="font-size:x-large">+</strong> para desplegar cada categoría.

En cada desplegable tenemos lineamientos y ejemplos para cada categoría.</p>

<details id="details-mujer">
    <summary>
        MUJER
    </summary>

    <p>Insultar a una mujer sin hacer ninguna referencia particular a su condición de mujer no es suficiente para ser considerado discurso discriminatorio. Como regla: si el mismo insulto o agresión aplicase contra un hombre, entonces no debiéramos considerarlo como discriminación</p>
    <p>Insultos contra las expresiones políticas del movimiento de las mujeres son consideradas en esta categoría: si se las insulta como feminazis, aborteras, pañuelito verde, etc</p>
    <p>Apelaciones a su apariencia o aspecto propias de una mujer son consideradas en esta categoría. En este punto consideramos comentarios cosificadores</p>
    <p>Insultar como “vieja” a una persona no califica como misoginia. Usar para ese caso la categoría ASPECTO que contempla la gerontofobia</p>

    <h4>EJEMPLOS:</h4>


    <blockquote>
        Nati Jota furiosa por los comentarios que recibe en las redes.
    </blockquote>
    <h5>Comentarios sexistas:</h5>
    <ul>
    <li>Pero si sos de plástico nena! (opina de manera denigratoria de su apariencia)</li>
    <li>Flor de gato!</li>
    <li>Miauuu!</li>
    <li>🐈</li>
    <li>A esta sólo se la conoce por su cuerpo y ahora se hace la santa. Andá a estudiar</li>
    <li>Le damos hasta que San Lorenzo vuelva a Boedo</li>
    <li>Y esta rubia tarada quién es?</li>
    </ul>
    <h5>Comentarios ofensivos pero no sexistas:</h5>
    <ul>
    <li>Callate forra (ofensivo pero no particularmente sexista)</li>
    <li>Y esta quién es? A quién le importa?</li>
    <li>Quién?</li>
    <li>Nati cuánto?</li>
    <li>Esta también recibe sobres?</li>
    <li>Otra descerebrada más (súper agresivo, pero es un comentario que podría recibir un hombre, aunque en  menor cantidad…)</li>
    <li>Andá a cagar..boluda..conductora de 4ta..</li>
    <li>HDP</li>
    <li>Boba</li>
    </ul>

</details>

<hr />

<details id="details-lgbti">
    <summary>LGBTTI </summary>

    <p>Expresiones de disgusto o rechazo del estilo “qué asco” frente a integrantes de la colectividad deben ser marcados como discurso discriminatorio</p>
    <p>Apelaciones a la anatomía o del estilo “biologicistas” deben ser marcados como discurso discriminatorio</p>
    <h4>Ejemplos:</h4>
    <blockquote>
    <p>Anibal Pachano sobre la cuarentena: “este virus nos está destruyendo a los actores”</p>
    </blockquote>
    <h5>Comentarios discriminatorios:</h5>
    <ul>
    <li>Qué asco este sujeto</li>
    <li>Y a este trolo quién le pidió su opinión?</li>
    <li>Me desagrada</li>
    </ul>
    <h5>Comentarios ofensivos pero no discriminatorios:</h5>
    <ul>
    <li>Ajá, y?</li>
    <li>No me importa tu opinión, gracias</li>
    <li>Se acuerdan cuando este atacaba a Cristina? Andá a llorarle al gato, Aníbal</li>
    <li>Pelotudazo!</li>
    </ul>
    <blockquote>
    <p>Famosa actriz trans dio una entrevista a La NACION: “Como mujer, estoy en la mejor etapa de mi vida”</p>
    </blockquote>
    <h5>Comentarios discriminatorios:</h5>
    <ul>
    <li>Muy lindo todo, pero sos hombre</li>
    <li>“Mujer” dice jajajaj naciste y morirás macho</li>
    <li>Qué asco este trolo</li>
    <li>🤢</li>
    <li>Una mujer con sorpresa</li>
    <li>Trava horrendo</li>
    <li>Perdón pero qué nombre dice tu DNI?</li>
    </ul>
    <h5>Comentarios ofensivos pero no discriminatorios:</h5>

        <ul>
            <li>Y a quién le interesa lo que diga esta mujer?</li>
            <li>Que se vaya a cagar</li>
            <li>Agradecele al gobierno de Néstor que tenés derechos</li>
        </ul>


</details>

<hr />

<details id="details-racismo">
    <summary>RACISMO</summary>
    <p>Asignar a todo un pueblo con una característica o actividad particular negativa entra en esta categoría
    Cualquier llamada a expulsar, matar, tirar bombas, destruir, aniquilar, etc a un pueblo, inmigrantes o país entra en esta categoría. Más aún, deben ser marcadas como “llamadas a la acción”
    Teorías conspirativas (hasta cierto punto) o acusaciones a un Gobierno/Estado no deberían entrar en esta categoría</p>
    <h4>Ejemplos:</h4>
    <blockquote>
    <p>Rescatan en China a cuarenta gatitos bebé que iban a ser utilizados en restaurantes</p>
    </blockquote>
    <h4>Comentarios discriminatorios:</h4>
    <ul>
    <li>Chinos asquerosos</li>
    <li>Malparidos! Chinos de mierda</li>
    <li>Sigan desparramando pestes hijos de puta!</li>
    <li>Por qué no se comen entre ellos?</li>
    <li>País horrible y enfermo</li>
    <li>Estos chinos nos diseminan su peste por todo el mundo</li>
    </ul>
    <h4>Comentarios discriminatorios y que además llaman a la acción:</h4>
    <ul>
    <li>Son una plaga estos chinos, hay que matarlos a todos</li>
    <li>Ojalá les caigan veinte bombas</li>
    <li>Hay que barrer ese país de la faz de la tierra</li>
    </ul>
    <h4>Comentarios ofensivos pero no racistas:</h4>
    <ul>
    <li>Son comunistas, qué querés</li>
    <li>Lo rescataron a Mauri?</li>
    </ul>
    <h5>Otros comentarios no racistas</h5>
    <ul>
    <li>El gobierno chino está intentando controlar todo, cuidado</li>
    <li>Mienten con que controlaron el virus, cómo no van a mentir con esto también?</li>
    <li>De terror!</li>
    </ul>

    <blockquote>Tomas de terrenos: se profundizan las tomas en todo Buenos Aires</blockquote>


    <h5>Comentarios discriminatorios:</h5>
    <ul>

        <li>Rajen a todos los peruanos de las tomas! (llama a la acción, además)</li>
        <li>Increíble, cualquier paraguayo o bolita de mierda te saca la casa</li>
        <li>negros hdp!</li>
    </ul>
</details>

<hr />

<details id="details-pobreza">
    <summary>POBREZA</summary>
    <p>Expresiones denigrantes sobre la condición socioeconómica son consideradas discriminatorias: referirse a las personas sin empleo como “vagos”, a otros como “(chori)planeros”
    Respecto a la gente que posee planes de asistencia social, si es una opinión general sin ser ofensiva no se considera discriminatoria (del estilo “hay que reducir el gasto social y los planes”, “perdieron la cultura del trabajo”)</p>
    <blockquote>
    Presupuesto: aumentó el gasto en planes asistenciales durante la pandemia
    </blockquote>
    <h5>Ejemplos discriminatorios:</h5>
    <ul>
    <li>Basta de mantener vagos!</li>
    <li>Cansada de los planeros</li>
    <li>Che laburar estos atorrantes ni en pedo no?</li>
    <li>PARASITOS</li>
    <li>negros vagos hijos de puta! (éste también es racista)</li>
    </ul>
    <h5>Ejemplos no discriminatorios</h5>
    <ul>
    <li>La gente que trabaja y aporta impuestos es cada vez menos. Estamos al horno</li>
    </ul>
</details>

<hr />

<details id="details-politica">
    <summary>POLITICA</summary>
    <p>Tiene que ser algo más que una mera opinión sino tener una componente irracional, de descalificación y de aborrecimiento considerable sobre un individuo o una facción política.</p>
    <ul>
    <li>Apreciaciones derogatorias sobre la posición política son consideradas discriminatorias : zurdo/a, bolchevique, peroncho, gorila, kuka, etc</li>
    <li>Acusaciones de corrupción o de “recibir sobres” no son consideradas discriminatorias</li>
    <li>Tampoco aquellas expresiones que traten de inútiles a funcionarios</li>
    <li>Tratar de viejo/a, gordo/a, u otras cuestiones físicas deben ser marcados en las categorías respectivas, no acá</li>
    </ul>
    <blockquote>
        Aumentó el gasto en planes asistenciales durante la pandemia
    </blockquote>

    <h5>Ejemplos discriminatorios:</h5>
    <ul>
        <li>BASTA ZURDOS DE ROBARNOS</li>
        <li>Bolcheviques de mierda</li>
    </ul>
    <h5>Ejemplos no discriminatorios</h5>

    <ul>
        <li>La gente que trabaja y aporta impuestos es cada vez menos. Estamos al horno</li>
        <li>Qué gobierno de inútiles</li>
        <li>Son unos delincuentes</li>
        <li>Hijos de mil puta!</li>
        <li>Siguen volando los sobres para el Congreso</li>
        <li>Siga siga la impresión</li>

    </ul>
</details>

<hr />

<details id="details-aspecto">
    <summary>ASPECTO</summary>
    <ul>
    <li>Apreciaciones denigrantes sobre la apariencia de una persona y/o su edad</li>
    <li>Principalmente, tenemos en mente la gordofobia y gerontofobia, pero puede referir a otras características físicas (por ejemplo, la altura)</li>
    <li>En casos en las cuales haya solapamiento con mujer, marcar ambas</li>
    </ul>
    <h4>Ejemplos</h4>

    <blockquote>
    Luis Brandoni: “No convoqué el banderazo”
    </blockquote>

    <h5>Ejemplos discriminatorios:</h5>
    <ul>
    <li>Viejo de mierda!</li>
    <li>Qué decrépito impresentable que es este señor</li>
    <li>Estás gagá, pelotudo</li>
    </ul>
    <blockquote>Jorge Lanata vuelve a la televisión</blockquote>
    <h5>Ejemplos discriminatorios:</h5>
    <ul>
    <li>Gordo chanta otra vez volvés a vender pescado podrido?</li>
    <li>porque no te vas vos tambien con todos bola de sebo!!!1</li>
    </ul>
</details>

<hr />

<details id="details-criminal">
    <summary>CRIMINAL</summary>
    <p>Cualquier comentario que celebre acciones contra criminales o personas privadas de su libertad (golpizas, asesinatos, muerte en motines, etc) entra en esta categoría
    En este ítem muchas veces veremos que son llamados a la acción: el de “matarlos”, llamar a reducir sus derechos, etc</p>

    <blockquote>
    Muere un delincuente tras un enfrentamiento con la policía
    </blockquote>
    <h5>Ejemplos discriminatorios:</h5>
    <ul>
    <li>Uno menos!</li>
    <li>Excelente!</li>
    <li>👏👏👏</li>
    <li>Que pena, pobrecito</li>
    </ul>
    <h5>Ejemplos que además llaman a la acción</h5>
    <ul>
    <li>MUY BIEN! Felicitaciones al policía, hay que liquidarlos sin piedad</li>
    <li>Mucha bala</li>
    </ul>
    <h5>Ejemplos no discriminatorios</h5>
    <ul>
    <li>Cómo puede ser que nuestra Ministra no haga nada?</li>
    <li>La policía actuó correctamente.</li>
    </ul>

    <blockquote>Motín por el Coronavirus en Olmos: 3 muertos</blockquote>
    <h5>Ejemplos discriminatorios y que llaman a la acción</h5>
    <ul>
    <li>Hay que rociar con nafta todas las cárceles</li>
    <li>Soltemos 3 o 4 infectados con COVID en cada cárcel y problema solucionado</li>
    <li>Paredón y listo
    </li>
    </ul>
</details>

<hr />

<details id="details-discapacidad">
    <summary>DISCAPACIDAD</summary>
    <ul>
    <li>Referencias peyorativas de adicciones a drogas, alcohol u otros estupefacientes</li>
    <li>También referencias peyorativas a la salud mental de la persona en cuestión</li>
    <li>Decir “está loco” no entra acá</li>
    </ul>

    <blockquote>
        Malena Pichot sale a cruzar a Baby Etchecopar<
    </blockquote>

    <h5>Ejemplos discriminatorios:</h5>
    <ul>
    <li>Callate faloperita!</li>
    </ul>


    <blockquote>Jorge Lanata vuelve a la televisión</blockquote>
    <h5>Ejemplos discriminatorios:</h5>
    <ul>
    <li>Che no probaste dejar la merca gordo?</li>
    </ul>

    <blockquote>Noticia sobre Patricia Bullrich</blockquote>
    <h5>Ejemplos discriminatorios:</h5>
    <ul>
    <li>Largá la 🍾 Pato</li>
    <li>Borracha hdp
    </li>
    </ul>
</details>

<hr>

<details>
    <summary>OTROS</summary>

    <ul>
    <li>Esta categoría está reservada para cualquier otro tipo de discriminación que no esté contemplada en las categorías mencionadas</li>
    <li>Insultos a profesiones (científicos, periodistas, por ejemplo) no entran en este apartado</li>
    <li>ESTA CATEGORIA ES SUMAMENTE EXCEPCIONAL. NO USAR INDISCRIMINADAMENTE</li>
    </ul>

</details>
