{% extends 'base.html' %}
{% load static %}

{% block  head %}
{% endblock %}


{% block content %}



<div class="row">
  <div class="nine columns">
    <div class="row">

    <h2> ¡Hola {{request.user.username }}!</h2>



    <p> Te asignaron <b>{{request.user.assignment_set.count}} artículos </b>  para etiquetar <p>
    <p> Ya completaste <b>{{completed_articles}} artículos </b><p>
    <h2> Instrucciones y manual de etiquetado </h2>


    <div class="row">
      <h4>¿Qué es el discurso de odio? </h4>

      <p>Si el tweet contiene declaraciones de disgusto, rechazo, enemistad o aborrecimiento contra un individuo o contra un grupo definidos por las siguientes características:
      </p>
      <ol>
        <li> Por su condición de mujer </li>
        <li> Por pertenecer al colectivo LGBTI </li>
        <li> Por pertenecer a alguna etnia, nacionalidad, ser extranjero </li>
        <li> Por su situación socioeconómica o barrio de residencia </li>
        <li> Por pertenecer a una minorías religiosas </li>
        <li> Por ser discapacitado/a o padecer problemas de salud mental o adicciones</li>
      </ol>

      <p>Este discurso puede manifestarse de manera explícita (insultos directos) o implícita. Lo que queremos captar es <b>la intención del autor </b>del tweet. En esto, tomamos en cuenta el contexto (en este caso, el tweet original del medio periodístico) y el contenido del tweet en sí mismo.</p>

      <p>A su vez, consideramos que el mensaje del tweet (a la vez que el receptor del odio) es el que determina si puede o no ser considerado discurso de odio y hacia qué grupo está dirigido, y no necesariamente coincide con el destinatario explícito del mensaje (por ejemplo, si alguien le dice a Susana Giménez “judía sionista hdp”, a pesar de no ser Susana Giménez judía, se puede considerar esto como discurso de odio contra las minorías religiosas).</p>

      <p>No contemplaremos en esta definición a los motivos políticos, si es que no se adaptan a alguno de las características antes mencionadas (por ejemplo, si atacan a una mujer de la política por su condición de mujer).</p>
    </div>

    <div class="row">
      <h4> ¿Qué vamos a etiquetar? </h4>

      <ol>
        <li> ¿Existe discurso de odio o discriminatorio en el tweet respectivo? </li>
        <li> Si hay discurso de odio ¿el tweet llama a la acción (violenta o no) contra un individuo o contra el grupo en cuestión? </li>
        <li> Si hay discurso de odio ¿cuál es el motivo discriminatorio? (se deberá elegir uno de la lista de motivos discriminatorios del INADI [3])
          <ul>
            <li> Violencia contra las mujeres </li>
            <li> Identidad de género, orientación sexual </li>
            <li> Racismo, Xenofobia </li>
            <li> Pobreza, situación socioeconómica, barrio de residencia. </li>
            <li> Religión </li>
            <li> Discapacidad o salud mental   </li>
          </ul>

        </li>

      </ol>



    </div>




    </div>

    <div class="row">
      <a class="button button-primary" href="{% url 'next' %}">Seguir etiquetando</a>
    </div>
  </div>

  <div class="three columns">
    <h3> Ranking </h3>

    <table>

      <tr>
        <th>Usuario</th>
        <th>Comentarios</th>
        <th>Artículos</th>
      </tr>

      {% for username, values in ranking %}

      <tr>
        <td>{{username}}</td>
        <td>{{values.comments}}</td>
        <td>{{values.articles}}</td>
      </tr>
      {% endfor %}

    </table>

  </div>

</div>
{% endblock %}
