{% extends 'base.html' %}
{% load static %}

{% block  head %}
{% endblock %}


{% block content %}

<div class="row">
<h2> ¡Hola {{request.user.username }}!</h2>

<p> Te asignaron <b>{{request.user.assignment_set.count}} artículos </b>  para etiquetar <p>
<p> Ya completaste <b>{{completed_articles}} artículos </b><p>
<h2> Instrucciones y manual de etiquetado </h2>


<div class="row">
  <h4>¿Qué es el discurso de odio? </h4>

  Su presencia se definirá de acuerdo a una definición que se armará en función de las presentadas por el Center for Studies on Freedom of Expression and Access to Information (CELE) [1] y por la Inter-American Commission on Human Rights (CIDH) [2].
</div>

<div class="row">
  <h4> ¿Qué vamos a etiquetar? </h4>

  <ol>
    <li> ¿Existe discurso de odio o discriminatorio en el tweet respectivo? </li>
    <li> Si hay discurso de odio ¿cuál es el motivo discriminatorio? (se deberá elegir uno de la lista de motivos discriminatorios del INADI [3])
      <ul>
        <li> Violencia contra las mujeres </li>
        <li> Identidad de género, orientación sexual </li>
        <li> Racismo, Xenofobia </li>
        <li> Pobreza, situación socioeconómica, barrio de residencia. </li>
        <li> Religión </li>
        <li> Discapacidad o salud mental   </li>
      </ul>

    </li>

    <li> Si hay discurso de odio ¿el tweet llama a la acción violenta contra un individuo o contra el grupo en cuestión? </li>
  </ol>



</div>




</div>

<div class="row">
  <a class="button button-primary" href="{% url 'next' %}">Seguir etiquetando</a>
</div>
{% endblock %}
