{% extends 'base.html' %}
{% load static %}

{% block  head %}
{% endblock %}


{% block content %}



<div class="row">
  <div class="nine columns">
    <div class="row">

    <h2> ¡Hola {{request.user.username }}!</h2>



    <p> Te asignaron <b>{{request.user.assignment_set.count}} artículos </b>  para etiquetar <p>
    <p> Ya completaste <b>{{completed_articles}} artículos </b><p>
    <h2> Instrucciones y manual de etiquetado </h2>

    <div class="row">
      {{guideline | safe}}
    </div>




    </div>

    <div class="row">
      <a class="button button-primary" href="{% url 'next' %}">Seguir etiquetando</a>
    </div>
  </div>

  <div class="three columns">
    <h3> Ranking </h3>

    <table>

      <tr>
        <th>Usuario</th>
        <th>Comentarios</th>
        <th>Artículos</th>
      </tr>

      {% for username, values in ranking %}

      <tr>
        <td>{{username}}</td>
        <td>{{values.comments}}</td>
        <td>{{values.articles}}</td>
      </tr>
      {% endfor %}

    </table>

  </div>

</div>
{% endblock %}
